/*style.css*/

body {
background-color:grey;
 
}

h1 {
    color:blue; font-family:verdana;
}

p {

    font-family: verdana;
}

h2 {

    font-size:30; font-family:verdana;
}

a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    color:rgb(44, 116, 68);
    text-decoration:underline;
}